<ion-header>
  <ion-toolbar>
    <ion-title>login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/img1.webp" alt="no-pic">
      <ion-card-title>ION_CARD</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="User name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="logMeIn()">LOGIN</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
