<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Code swag
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <img src="assets/images/img1.webp" alt="no-pic">
    <ion-card-title>ION_CARD</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Cards are containers that display content such as text, images, buttons, and lists. A card can be a single component, but is often made up of a header, title, subtitle, and content. Cards are broken up into several components to accommodate this structure:
  </ion-card-content>
</ion-card>
</ion-content>
